

<mat-card class="mat-card card-display">
    <mat-card-header>
      <label class="login-label">Login</label>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <strong *ngIf="submitMessage" class="error-message">{{submitMessage}}</strong>
      <form>
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                  <input class='userId' placeholder="Enter your User Name" matInput [formControl]="userId" required>
                  <mat-error *ngIf="userId.invalid">{{getUserNameErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field>
              <input class='userPassword' placeholder="Enter your password" matInput type="password" [formControl]="userPassword" required>
              <mat-error *ngIf="userPassword.invalid">{{getPasswordErrorMessage()}}</mat-error>          
          </mat-form-field></td>
        </tr></table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="loginSubmit()" color="primary">Login</button>
      <button mat-raised-button color="basic" (click)='onClickRegister()'>Register</button>
    </mat-card-actions>
  </mat-card>