<div class="keep-c-list-container">
	<label>Not-Started</label>
	
	<!-- Populate notStartedNotes -->
	<app-note [note] = 'note' *ngFor = "let note of notStartedNotes">{{ note }}</app-note>
</div>
<div class="keep-c-list-container">
	<label>Started</label>
	
	<!-- Populate startedNotes -->
	<app-note [note] = 'note' *ngFor = "let note of startedNotes">{{ note }}</app-note>
</div>
<div class="keep-c-list-container">
	<label>Completed</label>

	<!-- Populate completedNotes -->
	<app-note [note] = 'note' *ngFor = "let note of completedNotes">{{ note }}</app-note>
</div>