/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Bitter|Chakra+Petch|Cinzel|Kodchasan|Mali|Ubuntu";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
   margin: 0;
 }

 .error-message{
   color: red;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
 }
